<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917627258974-5h45b96qqmmf4c1mvf8hscvhob8ptsio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917627258974-5h45b96qqmmf4c1mvf8hscvhob8ptsio</string>
	<key>API_KEY</key>
	<string>AIzaSyDPzzVjDpxS7yzNEhFd7KIxX7DaCOJw_BU</string>
	<key>GCM_SENDER_ID</key>
	<string>917627258974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.applancasalgados</string>
	<key>PROJECT_ID</key>
	<string>lancasalgados</string>
	<key>STORAGE_BUCKET</key>
	<string>lancasalgados.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917627258974:ios:e616af50eaa478127dcccf</string>
	<key>DATABASE_URL</key>
	<string>https://lancasalgados.firebaseio.com</string>
</dict>
</plist>